@font-face{
	font-family: 'Bebas Neue Pro';
	src: url('../font/BebasNeuePro-Regular.ttf');
	src: url('../font/BebasNeuePro-Regular.otf') format('otf'), url('../font/BebasNeuePro-Regular.woff') format('woff'), url('../font/BebasNeuePro-Regular.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}
@font-face{
	font-family: 'Bebas Neue Pro';
	src: url('../font/BebasNeuePro-Bold.ttf');
	src: url('../font/BebasNeuePro-Bold.otf') format('otf'), url('../font/BebasNeuePro-Bold.woff') format('woff'), url('../font/BebasNeuePro-Bold.ttf') format('truetype');
	font-weight: bold; font-style: normal;
}
body {font-family: 'Bebas Neue Pro', Arial, sans-serif; color: #000000;}
h1, .h1, h2, .h2, h3, h3, h4, .h4, h5, .h5 {font-weight: 700;}
h1, .h1 {font-size: 4.3rem; margin-bottom: 0; line-height: 1;}
h4, .h4 {font-size: 2.1rem; margin: 0; position: relative; top: 0.5rem;}
p, .p {font-size: 1.3rem; line-height: 120%;}
nav {font-family: 'Montserrat', Arial, sans-serif;}
.nav-link, .nav-item {color: #000000; padding-left: 0.7rem; padding-right: 0.7rem;}
.nav-link {position: relative;}
.nav-link:after {content: ''; transition: all .15s ease-in-out; position: absolute; left: 0; top: 100%; width: 100%; height: 0rem; background-color: #D08779; pointer-events: none;}
.nav-link:hover::after, .nav-link:active::after, .nav-link:focus::after  {height: 0.3rem;}
header {height: 100vh;}
header .container {height: 100vh; background-image: url('../img/header.jpg'); background-size: 100% auto; background-position: top center; background-repeat: no-repeat;}
.spacer {height: 16.5rem;}
.logo {width: 33rem; margin-right: 2.5rem; margin-bottom: 1rem;}
.arrow {width: 1.2rem; padding-top: 1.5rem; padding-bottom: 0.8rem;}
.logo, .arrow {transition: opacity .15s ease-in-out;}
.logo:hover, .logo:active, .logo:focus, .arrow:hover, .arrow:active, .arrow:focus {opacity: .75;}
.btn {font-size: 2.1rem; border-radius: 0; padding: 0rem 2rem; border: none;}
.btn-primary {color: #ffffff; background-color: #000000;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {background-color: rgba(33, 37, 41, 0.75);}
@media (max-width: 1400px) {
	.spacer {height: 14.3rem;}
	.logo {width: 28rem;}
	h1, .h1 {}
	h4, .h4 {}
}
@media (max-width: 1200px) {
	.spacer {height: 12.3rem;}
	.logo {width: 23rem;}
	h1, .h1 {}
	h4, .h4 {}
	.nav-link, .nav-item {padding-left: 0.2rem; padding-right: 0.2rem;}
}
@media (max-width: 1000px) {
	header .container {background-size: auto 80%;}
	.spacer {height: 12.3rem;}
	.logo {width: 23rem;}
	h1, .h1 {font-size: 3rem; margin-bottom: 0.5rem;}
	h4, .h4 {font-size: 2rem; top: 0;}
	.nobreak {display: none;}
}